.not-found {
  text-align: center;
}
.not-found-img {
  margin-top: 80px;
  width: 84%;
}
.not-found-text {
  width: 100%;
  text-align: center;
  color: chocolate;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
}