.regist {
  width: 100vw;
}
.regist-title {
  margin-top: 20%;
  text-align: center;
  width: 100%;
}
.regist-login {
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: rgb(27, 153, 211);
  margin: 30px;
}