
.home-page {
  height: calc(100vh - 50px);
  background-color: #F7F7F7;
  .content {
    height: 120px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
  }
  .dynamic-block {
    background-color: #ffffff;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 2px 2px 6px #f7f3f3;
    padding: 12px;
    font-size: 14px;
    word-break: break-all;
    .dynamic-content {
      margin-left: 10px;
    }
    .date {
      color: #ccc;
    }
    .love {
      margin-right: 10px;
    }
    .content-item {
      margin-top: 6px;
      .content-content {
        margin-left: 6px;
        color: #333;
        font-size: 12px;
      }
    }
  }
  // .dynamic-block:last-child {
  //   margin-bottom: 60px;
  // }
  .load-more {
    margin-bottom: 60px;
  }
  .img-list {
    display: flex;
    flex-wrap: wrap;
    .content-img {
      width: 86px;
      height: 86px;
      margin: 5px;
    }
    .content-img:nth-child(3n-2) {
      margin-left: 0px;
  
    }
    .content-img:nth-child(3n) {
      margin-right: 0px;
  
    }
  }
}