.my-page {
  margin-bottom: 50px;
  height: calc(100vh - 50px);
  background-color: #F7F7F7;
  .my-navlink {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 4px 0;
  }
  .my-navlink + .my-navlink {
    border-top: 1px solid #f8f9f9;
    
  }
  .my-setting-block,
  .my-cats-block {
    background-color: #FFF;
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px #f7f3f3;
  }
  .my-header {
    font-size: 24px;
  }
  .my-header-nickname {
    margin-left: 10px;
  }
  .my-login {
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    color: var(--adm-color-success);
  }
  .my-cats-block {
    margin-bottom: 14px;
    padding: 8px 14px 18px 14px;
  }
  .my-cats-block-content {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .my-cats-img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }
  .my-cats-img-block {
    background-color: #f8f9f9;
    padding: 8px 8px 0 8px;
    border-radius: 4px;
  }
  .my-cats-img-block + .my-cats-img-block {
    margin-left: 10px;
  }
}